*{
	margin: 0;
	padding: 0;
	list-style: none;
}
#login{
	width: 1160px;
  min-width: 1180px;
  margin: 120px auto;
}

input:focus{border:none;outline:none}
#login .main{
	width: 100%;
}
#login .main .login_box{
	width: 560px;
	background-color: #000000;
	box-sizing: border-box;
	padding: 0 70px;
	text-align: center;
  height: 400px;
  margin: 0 auto;
}
#login .main .login_box .logo{
    margin: -20px auto ;
    width: 200px;
}
#login .main .login_box h3{
	font-size: 16px;
	color: #18181c;
	line-height: 22px;
	font-weight: 500;
	margin-bottom: 24px;
}
#login .main .login_box .line{
	display: block;
	font-size: 10px;
  /* margin-top: 10px; */
}
.forgetPassword{
	color:#FFFFFF;
	float: left;
}
.register{
	color: #FCC98C;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	float: right;
}
