 #transfer {
    padding: 0 100px;
  }
  p {
      font-size: 14px;
      line-height: 24px;
      color: #838589;
  }

  #transfer .transfer-wapper {
    min-width: 1180px;
    margin: -40px auto;
    height: 218px;
    padding: 20px 0;
    background: #ffffff;
  }

  #transfer .logo {
    margin: 0 auto;
    text-align: center;
  }

  #transfer .logo .logo-svg {
    width: 150px;
    margin-top: -25px;
  }

  #transfer .transfer-wapper .info-box {
    position: relative;
    padding: 27px 77px;
  }
  #transfer .transfer-wapper  .info-box  .info_icon {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      /* border: 2px solid #23d368; */
      position: absolute;
      top: 22px;
      left: 29px;
  }

  #transfer .transfer-wapper .info-box .info_title {
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    color: #18181c;
    line-height: 22px;
  }

  #transfer .transfer-wapper .info-box .info_desc {
    margin-top: 24px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #18181c;
    line-height: 20px;
  }

  #transfer .transfer-wapper .info-box .info_price {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #18181c;
  }

  #transfer .transfer-wapper .info-box .info_price .price_num {
    height: 28px;
    font-size: 24px;
    font-weight: 600;
    color: #fb4c4c;
    letter-spacing: 1px;
  }

  #transfer .transfer-wapper .info-box .info_action {
    margin-top: 44px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #9092a5;
    line-height: 20px;
  }

  #transfer .transfer-wapper .info-box .info_action span.desc {
    margin-right: 24px;
  }

  #transfer .transfer-wapper .info-box .info_action a,.download_popper {
    margin-right: 32px;
    color: #4c89fb;
  }

  #transfer .tabs {
    min-width: 1180px;
    background-color: #fff;
    padding-top: 24px;
    margin-top: 70px;
  }
  .tabs {
      background-color: #fff;
      padding-top: 24px;
      margin-top: 24px
  }

  .tabs .tabs_nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center
  }

  .tabs ul li {
      font-size: 16px;
      line-height: 22px;
      color: #18181c;
      position: relative;
      cursor: pointer
  }

  .tabs ul li.active:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -4px;
      background: #4c89fb
  }

  .tabs .tabs_nav li:first-child {
      margin-right: 40px
  }

  .pro_list{
      margin-top: 16px;
      padding: 24px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      background: #fff
  }

  .pro_list .table_title{
      width: 100%;
      height: 52px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #f7f8fa;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }

  .pro_list .table_title .left{
      width: 150px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto
  }

  .pro_list .table_title .left p{
      width: 100%;
      padding-right: 0;
      height: 52px;
      line-height: 52px;
      font-size: 14px;
      color: #9092a5;
      vertical-align: middle;
      text-align: center
  }

  .pro_list .table_title .right{
      width: calc(100% - 150px);
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }

  .pro_list .table_title .block {
      width: 82px;
  }
  .pro_list .table_title div.title_right {
      width: calc(100% - 82px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  .pro_list .table_title div.title_right .text {
      width: 75%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .pro_list .table_title div.title_right .text .name {
      width: 40%;
      padding-left: 16px;
  }
  .pro_list .table_title div.title_right .text .number,
  .pro_list .table_title div.title_right .text .single,
  .pro_list .table_title div.title_right .text .total {
      width: 20%;
      text-align: center;
      padding-right: 24px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
.pro_list .table_title div.title_right .note {
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 40px;
    line-height: 52px;
}

  .pro_list .table_title .right .block{
      width: 82px
  }

  .pro_list .table_title .right .text{
      width: calc(100% - 82px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }

  .pro_list .table_title .right p{
      height: 52px;
      line-height: 52px;
      font-size: 14px;
      color: #9092a5;
      vertical-align: middle;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 20%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      text-align: center
  }

  .pro_list .table_title .right p:first-child {
      width: 25%;
      text-align: left;
      padding: 0 16px
  }

  .pro_list .table_title .right p:nth-child(3) {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto
  }

  .pro_list .table_content h3{
      font-size: 16px;
      color: #18181c;
      font-weight: 500;
      margin-top: 24px;
      margin-bottom: 16px
  }

  .pro_list .table_content .pro_content{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin-bottom: -1px
  }

  .pro_list .table_content .catalog{
      text-align: center;
      border: 1px solid #e8e8ef;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 150px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      font-size: 14px;
      color: #18181c
  }

  .pro_list .table_content .table_content_ul02{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: calc(100% - 150px);
      border-bottom: 1px solid #e8e8ef;
      border-top: 1px solid #e8e8ef;
      border-right: 1px solid #e8e8ef;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 24px 24px 0
  }

  .pro_list .table_content .table_content_ul01{
    width: 100%;border-bottom: 1px solid #e8e8ef;border-right:0
  }

  .pro_list .table_content ul li{
      width: 100%;
      padding-bottom: 24px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }

  .pro_list .table_content .table_content_ul01 li{
          width: 100%;
          padding: 24px 0 24px 24px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-top: 1px solid #e8e8ef;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
    }

  .pro_list .table_content ul li img{
      display: block;
      width: 80px;
      height: 80px;
      border: 1px solid #e8e8ef
  }

  .pro_list .table_content ul li .right{
      width: calc(100% - 82px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }

.pro_list .table_content ul li .right .text{
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
  .pro_list .table_content ul li .right p{
      vertical-align: middle;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 20%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      text-align: center
  }

  .pro_list .table_content ul li .right p:first-child {
      width: 25%;
      text-align: left;
      overflow: hidden
  }

  .pro_list .table_content ul li .right p:first-child .name{
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap
  }
.pro_list .table_content ul li .right .text .line1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;
}
.pro_list .table_content ul li .right .text .line1 .name{
    padding-left: 16px;
    font-size: 14px;
    color: #18181c;
    width: 40%;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}
.pro_list .table_content ul li .right .text .line1 .single {
    font-size: 14px;
    color: #18181c;
    width: 20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 24px;
}
.pro_list .table_content ul li .right .text .line1 .number,
.pro_list .table_content ul li .right .text .line1 .total {
    width: 20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 24px;
}
.pro_list .table_content ul li .right .text .line1 .total {
    font-size: 14px;
    color: #18181c;
    font-weight: 600;
}
.pro_list .table_content ul li .right .text .line2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.pro_list .table_content ul li .right .text .line2 .spec {
    height: 24px;
    width: 40%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px;
    font-size: 14px;
    color: #9092a5;
}
.pro_list .table_content ul li .right .text .line2 .specia {
    font-size: 14px;
    color: #18181c;
    width: 20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 24px;
    text-align: center;
}
.pro_list .table_content ul li .right .text .line3 {
    width: 90%;
    margin-top: 8px;
    font-size: 14px;
    color: #9092a5;
    padding-left: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    text-align: left;
}
.pro_list .table_content ul li .right .note {
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 40px;
    height: 84px;
    overflow: hidden;
}
.pro_list .table_content ul li .right .note .note_content {
    font-size: 14px;
    color: #18181c;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
  .pro_list .table_content ul li .right p:nth-child(3) {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto
  }

  .pro_list .table_content ul li .right .pro .name{
      width: 100%;
      padding-left: 16px;
      font-size: 14px;
      color: #18181c;
      line-height: 20px;
      height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left
  }

  .pro_list .table_content ul li .right .spec{
      color: #9092a5;
      margin-top: 8px
  }

  .pro_list .table_content ul li .right .single{
      font-size: 14px;
      color: #18181c;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center
  }

  .pro_list .table_content ul li .right .single span{
      display: block
  }

  .pro_list .table_content ul li .right .single .del{
      color: #d5d7e1;
      text-decoration: line-through
  }

  .pro_list .table_content ul li .right .total{
      font-size: 14px;
      color: #18181c;
      font-weight: 600;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center
  }

  .other_info {
      padding: 24px;
      background: #fff
  }

  .other_info p {
      color: #18181c;
      padding-left: 24px;
      font-size: 14px;
      margin-bottom: 8px
  }

  .other_info p span {
      padding-right: 48px
  }

  .other_info p:last-child {
      margin-bottom: 0
  }


  .price_container{
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 24px;
      background: #fff
  }

  .price_container .product_price{
      background: #f7f8fa;
      padding: 0 24px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 1px solid #e8e8ef
  }

  .price_container .product_price .show{
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 16px 0
  }

  .price_container .product_price .show div{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }

  .price_container .product_price .show p{
      font-size: 14px;
      color: #9092a5;
      line-height: 20px
  }

  .price_container .product_price .show p span{
      color: #18181c
  }

  .price_container .product_price .show p .discount{
      font-weight: 400;
      margin-right: 16px
  }

  .price_container .product_price .show p .del{
      font-weight: 400;
      padding-right: 24px;
      color: #9092a5;
      text-decoration: line-through
  }

  .price_container .product_price .show p[data-v-99f1c424]:last-child {
      margin-left: 100px
  }

  .price_container .product_price .show p:last-child span{
      font-weight: 600
  }

  .price_container .product_price .show a{
      font-size: 14px;
      color: #9092a5;
      line-height: 20px
  }

  .price_container .product_price .show a[data-v-99f1c424]:hover {
      color: #4c89fb
  }

  .price_container .product_price .edit{
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 16px 0
  }

  .price_container .product_price .edit .left{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }

  .price_container .product_price .edit .left p{
      font-size: 14px;
      color: #18181c;
      line-height: 32px;
      margin-right: 48px
  }

  .price_container .product_price .edit .left p span{
      color: #9092a5
  }

  .price_container .product_price .edit .left .edit_block{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      line-height: 32px;
      height: 32px;
      vertical-align: middle
  }

  .price_container .product_price .edit .left .edit_block span{
      display: block;
      font-size: 14px;
      color: #9092a5
  }

  .price_container .product_price .edit .left .edit_block span[data-v-99f1c424]:first-child {
      margin-right: 8px
  }

  .price_container .product_price .edit .left .edit_block span[data-v-99f1c424]:last-child {
      margin-left: 8px
  }

  .price_container .product_price .edit .left .total{
      margin-left: 48px;
      color: #18181c;
      font-size: 14px;
      font-weight: 600px;
      line-height: 32px
  }

  .price_container .product_price .edit .right{
      font-size: 14px;
      color: #4c89fb;
      line-height: 32px
  }

  .price_container .other_price{
      background: #f7f8fa;
      padding: 0 24px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box
  }

  .price_container .other_price .show{
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 16px 0
  }

  .price_container .other_price .show .left{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap
  }

  .price_container .other_price .show .left p{
      margin-right: 48px;
      font-size: 14px;
      color: #18181c;
      line-height: 20px
  }

  .price_container .other_price .show .right{
      font-size: 14px;
      color: #9092a5;
      line-height: 20px
  }

  .price_container .other_price .show .right[data-v-99f1c424]:hover {
      color: #4c89fb
  }

  .price_container .other_price .edit{
      padding-bottom: 16px;
      padding-top: 16px
  }

  .price_container .other_price .edit li{
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-bottom: 16px
  }

  .price_container .other_price .edit li .left{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }

  .price_container .other_price .edit li .left .discount{
      margin-left: 80px;
      margin-right: 80px;
      line-height: 32px;
      height: 32px
  }

  .price_container .other_price .edit li .left .discount span{
      font-size: 12px;
      color: #18181c
  }

  .price_container .other_price .edit li .left .discount span[data-v-99f1c424]:first-child {
      margin-right: 8px
  }

  .price_container .other_price .edit li .left .discount span[data-v-99f1c424]:last-child {
      margin-left: 8px
  }

  .price_container .other_price .edit li .left .result a{
      margin-left: 16px
  }

  .price_container .other_price .edit li .left .result a .icon{
      color: #9092a5
  }

  .price_container .other_price .edit li .left .result a:hover .icon{
      color: #4c89fb
  }

  .price_container .other_price .edit li .right{
      font-size: 14px;
      color: #4c89fb;
      line-height: 20px
  }

  .price_container .other_price .edit li.last{
      height: 32px;
      line-height: 32px;
      border: 1px dashed #ccceda;
      padding: 0;
      display: block;
      text-align: center;
      cursor: pointer
  }

  .price_container .other_price .edit li.last {
      font-size: 14px;
      color: #18181c
  }

  .price_container .other_price .edit li.last:hover {
      border-color: #4c89fb;
      background: rgba(76,137,251,.03)
  }

  .price_container .other_price .edit li.last:hover {
      color: #4c89fb
  }

  .price_container .product_price .show p:last-child {
      margin-left: 100px;
  }
  .download_list {
      padding: 16px 16px 0;
      background: #fff;
      -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
      box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
      border-radius: 2px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
.download_list .lxs_down,.download_list .pdf_down{
      position: relative;
      margin-bottom: 16px;
      overflow: hidden;
      padding-bottom: 32px;
}
.download_list .pdf_down div,
.download_list .lxs_down div,
.download_list .pdf_down ul,
.download_list .lxs_down ul {
    margin-right: 8px;
    float: left;
}
.download_list .pdf_down li {
    padding: 4px 0;
}
.download_list .dl_btn {
    padding: 0 4px;
    right: 0;
    position: absolute;
    margin: 0;
    bottom: 0;
    text-align: center;
    display: block;
    background: #4c89fb;
    color: #fff !important;
    border-radius: 2px;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}

.check-box_pdf{
  display: block;
  padding: 3px;
}
